annotated-types==0.7.0
black==25.1.0
bounded-pool-executor==0.0.3
click==8.1.8
faker==36.1.1
isort==6.0.1
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pqdm==0.2.0
psycopg==3.2.5
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.8.1
python-dotenv==1.0.1
tqdm==4.67.1
types-requests==2.32.0.20250301
types-tqdm==4.67.0.20250301
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
